<div class="outer-container">
  <div class="inner-container">
    <div class="centered-content">

      <h1 class="form-title">
        <strong>
          Signup
        </strong>
      </h1>

      <form (ngSubmit)="onSubmit(form1)" #form1="ngForm">

        <div class="form-group">
          <label for="exampleInputEmail1">Email</label>
          <input type="email" ngModel name="email" email required class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter email">
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" ngModel name="password" required class="form-control" id="exampleInputPassword1" placeholder="Enter password">
        </div>

        <button [disabled]="!form1.valid" type="submit" style="margin: auto;display: block" class="btn btn-dark">Signup</button>

      </form>

      <div style="text-align: center; margin-top: 8px">
        Existing user?&nbsp;<a routerLink="/" style="text-decoration: underline">Login</a>
      </div>

    </div>
  </div>
</div>